# ARCHIVO DE DOCKER COMPOSE PARA UN CLUSTER HADOOP BASICO CON HDFS Y YARN
# NO SE USA EN CLUSTER UIS
version: '3.8'

services:
  # HDFS NameNode (Web UI: 9870)
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    environment:
      - CLUSTER_NAME=test
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - ../data:/data
    networks:
      - hadoop

  # HDFS DataNode 1
  datanode1:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode1
    environment:
      - CLUSTER_NAME=test
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - SERVICE_PRECONDITION=namenode:9870
    depends_on:
      - namenode
    volumes:
      - ../data:/data
    networks:
      - hadoop

  # HDFS DataNode 2
  datanode2:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode2
    environment:
      - CLUSTER_NAME=test
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - SERVICE_PRECONDITION=namenode:9870
    depends_on:
      - namenode
    volumes:
      - ../data:/data
    networks:
      - hadoop
  # YARN ResourceManager (Web UI: 8088)
  resourcemanager:
    image: bde2020/hadoop-resourcemanager:2.0.0-hadoop3.2.1-java8
    container_name: resourcemanager
    ports:
      - "8088:8088"
    depends_on:
      - namenode
    networks:
      - hadoop

  # NodeManager 1
  nodemanager1:
    image: bde2020/hadoop-nodemanager:2.0.0-hadoop3.2.1-java8
    container_name: nodemanager1
    depends_on:
      - resourcemanager
    networks:
      - hadoop

  # NodeManager 2
  nodemanager2:
    image: bde2020/hadoop-nodemanager:2.0.0-hadoop3.2.1-java8
    container_name: nodemanager2
    depends_on:
      - resourcemanager
    networks:
      - hadoop

  spark-master:
    image: apache/spark:3.5.1
    container_name: spark-master
    command: bash -c "/opt/spark/sbin/start-master.sh && tail -f /dev/null"
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ../notebooks:/opt/spark/scripts
      - ../data:/opt/spark/data
      - ../src/spark:/opt/spark/procesamientosSpark
    networks:
      - hadoop


  spark-worker-1:
    image: apache/spark:3.5.1
    container_name: spark-worker-1
    command: bash -c "/opt/spark/sbin/start-worker.sh spark://spark-master:7077 && tail -f /dev/null"
    depends_on:
      - spark-master
    networks:
      - hadoop


  spark-worker-2:
    image: apache/spark:3.5.1
    container_name: spark-worker-2
    command: bash -c "/opt/spark/sbin/start-worker.sh spark://spark-master:7077 && tail -f /dev/null"
    depends_on:
      - spark-master
    networks:
      - hadoop


networks:
  hadoop:
    driver: bridge

